<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ask Page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Ask! Online Library</h1>
    <form method="POST" action="/ask">
        <table>
            <tr>
                <td>
                    <input type="text" name="query">
                </td>
                <td>
                    <button type="submit">Ask!</button>
                </td>
            </tr>
        </table>

    </form>
    
</body>
</html>